<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>FlightReservationSystem</display-name>
  <welcome-file-list>
    <welcome-file>mainHome.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>aircraftController</display-name>
    <servlet-name>aircraftController</servlet-name>
    <servlet-class>Controller.aircraftController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aircraftController</servlet-name>
    <url-pattern>/aircraftController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>flightController</display-name>
    <servlet-name>flightController</servlet-name>
    <servlet-class>Controller.flightController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>flightController</servlet-name>
    <url-pattern>/flightController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookingController</display-name>
    <servlet-name>bookingController</servlet-name>
    <servlet-class>Controller.bookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookingController</servlet-name>
    <url-pattern>/bookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminController</display-name>
    <servlet-name>adminController</servlet-name>
    <servlet-class>Controller.adminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminController</servlet-name>
    <url-pattern>/adminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>passengerInfoController</servlet-name>
    <servlet-class>Controller.passengerInfoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>passengerInfoController</servlet-name>
    <url-pattern>/passengerInfoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>Controller.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>userController</display-name>
    <servlet-name>userController</servlet-name>
    <servlet-class>Controller.userController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userController</servlet-name>
    <url-pattern>/userController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminReplyController</display-name>
    <servlet-name>adminReplyController</servlet-name>
    <servlet-class>Controller.adminReplyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminReplyController</servlet-name>
    <url-pattern>/adminReplyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userReplyController</display-name>
    <servlet-name>userReplyController</servlet-name>
    <servlet-class>Controller.userReplyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userReplyController</servlet-name>
    <url-pattern>/userReplyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>airlineController</display-name>
    <servlet-name>airlineController</servlet-name>
    <servlet-class>Controller.airlineController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>airlineController</servlet-name>
    <url-pattern>/airlineController</url-pattern>
  </servlet-mapping>
</web-app>